*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

.content{
    padding: 1rem;
    background-color: #fff;
    max-height: 100vh;
    max-width: 100vh ;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
    }
    
}

.content h1{
    margin: 0;
}

